<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Courses</h2>
        <hr />

        <table class="table table-responsive table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Course Code</th>
                    <th>Course Description</th>
                </tr>
            </thead>
            <tbody>

                {{#each courses}}
                <tr>
                    <td><a href="/course/{{courseId}}">{{courseCode}}</a></td>
                    <td><a href="/students?course={{course}}">{{courseDescription}}</a></td>
                </tr>
                {{/each}}
            </tbody>
          </table>
    </div>
    {{#unless courses}}
    <tr>
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    </tr>
    {{/unless}}
</div>
